//$Chinese-black: #111111;  < Example

// Import til scss, example > @import '../../Variables/variables.scss';

$Raisin-black: #222222;

$Chinese-black: #111111;

$Microsoft-red: #f2511c;

$Dark-charcoal: #303030;

$white: #fff;

$error: rgb(255, 19, 19);
