@import "../../Variables/variables.scss";

article {
  width: 100%;
  height: 100%;
  padding: 2em;
  margin: auto;
  background-color: $Dark-charcoal;
  color: $white;

  .ReadMoreBtn {
    width: 8em;
    height: 3em;
    background-color: $Dark-charcoal;
    margin-top: 2em;
    cursor: pointer;
    border: solid 1px $Microsoft-red;
    color: $Microsoft-red;
    transition: 0.3s;

    &:hover {
      border: solid 1px $white;
      color: $white;
      transition: 0.3s;
    }
  }

  @media screen and (max-width: 800px) {
    height: auto;
  }

  .Tekst_heading {
    margin-bottom: 1em;
  }
  .Tekst_paragraph {
    font-size: medium;
  }
}
